<div class="banner swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="Content/images/carousel/banner1.jpg" alt=""/>
        </div>
        <div class="swiper-slide">
            <img src="Content/images/carousel/banner2.jpg" alt=""/>
        </div>
        <div class="swiper-slide">
            <img src="Content/images/carousel/banner3.jpg" alt=""/>
        </div>
        <div class="swiper-slide">
            <img src="Content/images/carousel/banner1.jpg" alt=""/>
        </div>
        <div class="swiper-slide">
            <img src="Content/images/carousel/banner2.jpg" alt=""/>
        </div>
        <div class="swiper-slide">
            <img src="Content/images/carousel/banner3.jpg" alt=""/>
        </div>
        <div class="swiper-slide">
            <img src="Content/images/carousel/banner1.jpg" alt=""/>
        </div>
    </div>
    <div class="swiper-pagination slide"></div>
</div>
<div class="list">
    <ul class="row">
        <li class="col">
            <div class="top">
                <i class="icon ion-android-playstore"></i>
            </div>
            <span>车商城</span>
        </li>
        <li class="col">
            <div class="top">
                <i class="icon ion-briefcase"></i>
            </div>
            <span>分期购车</span>
        </li>
        <li class="col">
            <div class="top">
                <i class="icon ion-social-hackernews"></i>
            </div>
            <span>团购活动</span>
        </li>
        <li class="col">
            <div class="top">
                <i class="icon ion-model-s"></i>
            </div>
            <span>找二手车</span>
        </li>
    </ul>

</div>
<div class="logo">
    <img src="Content/images/background/bg.png" alt=""/>
</div>
<div class="detail">
    <h2>车主服务</h2>
    <ul class="row">
        <li class="col">
            <div class="top">
                <i class="icon ion-android-playstore"></i>
            </div>
            <span>车商城</span>
        </li>
        <li class="col">
            <div class="top">
                <i class="icon ion-briefcase"></i>
            </div>
            <span>分期购车</span>
        </li>
        <li class="col">
            <div class="top">
                <i class="icon ion-social-hackernews"></i>
            </div>
            <span>团购活动</span>
        </li>
        <li class="col">
            <div class="top">
                <i class="icon ion-model-s"></i>
            </div>
            <span>找二手车</span>
        </li>
    </ul>
    <ul class="row">
        <li class="col">
            <div class="top">
                <i class="icon ion-android-playstore"></i>
            </div>
            <span>车商城</span>
        </li>
        <li class="col">
            <div class="top">
                <i class="icon ion-briefcase"></i>
            </div>
            <span>分期购车</span>
        </li>
        <li class="col">
            <div class="top">
                <i class="icon ion-social-hackernews"></i>
            </div>
            <span>团购活动</span>
        </li>
        <li class="col">
            <div class="top">
                <i class="icon ion-model-s"></i>
            </div>
            <span>找二手车</span>
        </li>
    </ul>
    <ul class="row">
        <li class="col">
            <div class="top">
                <i class="icon ion-android-playstore"></i>
            </div>
            <span>车商城</span>
        </li>
        <li class="col">
            <div class="top">
                <i class="icon ion-briefcase"></i>
            </div>
            <span>分期购车</span>
        </li>
        <li class="col">
            <div class="top">
                <i class="icon ion-social-hackernews"></i>
            </div>
            <span>团购活动</span>
        </li>
        <li class="col">
            <div class="top">
                <i class="icon ion-model-s"></i>
            </div>
            <span>找二手车</span>
        </li>
    </ul>
</div>
<div class="detail">
    <h2>车主服务 <span><em>13</em>:<em>13</em>:<em>13</em></span></h2>

    <div id="scroll" class="scroll">
        <div class="lists">
            <dl>
                <dt>
                    <img src="Content/images/picture/pic1.gif" alt=""/>
                </dt>
                <dd>
                    <h2>补胎工具简易套装</h2>

                    <p>￥9.9元 <span>28元</span></p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/images/picture/pic2.gif" alt=""/>
                </dt>
                <dd>
                    <h2>补胎工具简易套装</h2>

                    <p>￥9.9元 <span>28元</span></p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/images/picture/pic3.gif" alt=""/>
                </dt>
                <dd>
                    <h2>补胎工具简易套装</h2>

                    <p>￥9.9元 <span>28元</span></p>
                </dd>
            </dl>
            <div class="lists">
                <dl>
                    <dt>
                        <img src="Content/images/picture/pic1.gif" alt=""/>
                    </dt>
                    <dd>
                        <h2>补胎工具简易套装</h2>

                        <p>￥9.9元 <span>28元</span></p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="Content/images/picture/pic2.gif" alt=""/>
                    </dt>
                    <dd>
                        <h2>补胎工具简易套装</h2>

                        <p>￥9.9元 <span>28元</span></p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="Content/images/picture/pic3.gif" alt=""/>
                    </dt>
                    <dd>
                        <h2>补胎工具简易套装</h2>

                        <p>￥9.9元 <span>28元</span></p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="detail">
    <h2>活动专区 <span>更多活动 <i class="icon ion-chevron-right"></i></span></h2>
    <div class="active">
        <dl>
            <dd>
                <h2>测身价炫富</h2>
                <p>身价大PK</p>
            </dd>
            <dt>
                <img src="Content/images/picture/pic4.gif" alt=""/>
            </dt>
        </dl>
        <dl>
            <dd>
                <h2>测身价炫富</h2>
                <p>身价大PK</p>
            </dd>
            <dt>
                <img src="Content/images/picture/pic5.gif" alt=""/>
            </dt>
        </dl>
        <dl>
            <dd>
                <h2>测身价炫富</h2>
                <p>身价大PK</p>
            </dd>
            <dt>
                <img src="Content/images/picture/pic6.gif" alt=""/>
            </dt>
        </dl>
    </div>
</div>
<div class="detail">
    <h2>猜你喜欢 <span>更多 <i class="icon ion-chevron-right"></i></span></h2>
    <div class="carList">
        <dl ng-repeat="info in car | filter:{state:true}">
            <dt>
                <img ng-src="{{info.src}}"/>
            </dt>
            <dd>
                <h2>{{info.name}}</h2>
                <h3>{{info.about}}</h3>
                <p><span>{{info.price}}</span><s>{{info.cost}}</s></p>
            </dd>
        </dl>

    </div>
    <p class="load" ng-click="straining()">点击加载</p>
</div>
<script type="text/javascript">
    new Swiper(".banner", {
        pagination: ".swiper-pagination",
        paginationClickable: true,
        loop: true,
        autoplay: true,
        speed: 1000
    });
    new IScroll("#scroll", {
        scrollX: true,
        scrollY: false,
        mouseWheel: true
    })
</script>