body {
  font-size: 0.12rem;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #EDEDED; }

.header {
  height: 0.5rem;
  position: relative; }
  .header h1 {
    text-align: center;
    height: 0.44rem; }
    .header h1 a {
      display: inline-block;
      height: 0.44rem;
      font-size: 0.16rem;
      line-height: 0.44rem;
      color: #9D9D9D;
      border-bottom: 2px solid #EDEDED;
      box-sizing: border-box; }
    .header h1 a.on {
      border-bottom: 2px solid #474747;
      color: #474747; }
  .header .search {
    position: absolute;
    right: 0.15rem;
    top: 0.14rem; }
    .header .search i {
      vertical-align: sub;
      font-size: 0.2rem; }

.footer {
  height: 0.5rem;
  background-color: #fff; }
  .footer ul {
    display: flex; }
    .footer ul li {
      flex-grow: 1;
      text-align: center; }
    .footer ul .top {
      line-height: 0.3rem; }
      .footer ul .top i {
        font-size: 0.24rem; }

.content {
  flex: 1;
  overflow-y: scroll; }
  .content .banner {
    height: 1.3rem; }
    .content .banner .swiper-wrapper {
      width: 100%; }
      .content .banner .swiper-wrapper .swiper-slide {
        width: 100%; }
        .content .banner .swiper-wrapper .swiper-slide img {
          width: 100%; }
    .content .banner .swiper-pagination-bullet {
      width: 20px;
      border-radius: 4px;
      background-color: #fff; }
  .content .list {
    height: 1.08rem;
    background-color: #fff;
    margin-bottom: 0; }
    .content .list ul li {
      text-align: center; }
      .content .list ul li .top {
        width: 0.44rem;
        height: 0.44rem;
        line-height: 0.44rem;
        text-align: center;
        border-radius: 0.16rem;
        background-color: #FF6565;
        margin: 0.15rem auto 0.1rem; }
        .content .list ul li .top i {
          font-size: 0.24rem;
          color: #fff;
          vertical-align: sub; }
  .content .logo {
    height: 0.75rem;
    background-color: #ECF1F4;
    padding-top: 0.1rem; }
    .content .logo img {
      width: 100%; }
  .content .detail {
    margin-bottom: 0.1rem;
    background-color: #fff; }
    .content .detail > h2 {
      line-height: 0.5rem;
      font-weight: normal;
      font-size: 0.14rem;
      padding-left: 0.15rem;
      position: relative; }
      .content .detail > h2 span {
        position: absolute;
        right: 0.1rem;
        color: #555; }
        .content .detail > h2 span em {
          display: inline-block;
          width: 0.2rem;
          height: 0.2rem;
          line-height: 0.2rem;
          background-color: #555;
          color: #fff;
          margin-top: 0.1rem;
          margin-right: 0.05rem;
          margin-left: 0.05rem; }
    .content .detail ul li {
      text-align: center;
      border-top: 1px solid #eee;
      border-right: 1px solid #eee; }
      .content .detail ul li:last-child {
        border-right: none; }
      .content .detail ul li .top {
        width: 0.44rem;
        height: 0.44rem;
        line-height: 0.44rem;
        text-align: center;
        border-radius: 0.16rem;
        margin: 0 auto; }
        .content .detail ul li .top i {
          font-size: 0.24rem;
          vertical-align: sub; }
    .content .detail .scroll {
      width: 100%;
      overflow: hidden;
      height: 1.3rem;
      padding-bottom: 0.1rem; }
      .content .detail .scroll .lists {
        width: 3000px;
        height: 1.3rem; }
        .content .detail .scroll .lists > dl {
          float: left;
          width: 1.3rem;
          height: 1.3rem;
          border: 1px solid #eee;
          margin-left: 0.15rem; }
          .content .detail .scroll .lists > dl dt {
            height: 0.86rem;
            padding: 0.18rem 0.15rem 0.1rem 0.17rem;
            text-align: center; }
            .content .detail .scroll .lists > dl dt img {
              height: 100%; }
          .content .detail .scroll .lists > dl dd {
            text-align: left;
            padding-left: 0.1rem; }
            .content .detail .scroll .lists > dl dd h2 {
              font-size: 0.14rem; }
            .content .detail .scroll .lists > dl dd p {
              color: #FC7E40; }
              .content .detail .scroll .lists > dl dd p span {
                color: #9D9D9D;
                padding-left: 0.05rem;
                text-decoration: line-through; }
    .content .detail .active {
      display: flex;
      border-top: 1px solid #eee; }
      .content .detail .active dl {
        flex-grow: 1;
        width: 33.3%; }
        .content .detail .active dl:nth-child(2) {
          border-right: 1px solid #eee;
          border-left: 1px solid #eee; }
        .content .detail .active dl dd {
          padding-left: 0.15rem; }
          .content .detail .active dl dd h2 {
            padding-top: 0.11rem;
            font-size: 0.14rem; }
          .content .detail .active dl dd p {
            line-height: 0.27rem;
            color: #FC7E40; }
        .content .detail .active dl dt {
          padding-left: 0.12rem;
          padding-right: 0.15rem; }
          .content .detail .active dl dt img {
            width: 100%; }
    .content .detail .carList {
      display: flex;
      flex-wrap: wrap; }
      .content .detail .carList dl {
        flex-grow: 1;
        width: 50%; }
        .content .detail .carList dl dt {
          padding: 0.2rem; }
          .content .detail .carList dl dt img {
            width: 100%; }
        .content .detail .carList dl dd {
          padding-left: 0.15rem;
          padding-right: 0.15rem; }
          .content .detail .carList dl dd h2 {
            font-weight: normal;
            font-size: 0.14rem;
            line-height: 0.5rem; }
          .content .detail .carList dl dd h3 {
            font-size: 0.12rem;
            font-weight: normal; }
          .content .detail .carList dl dd p {
            line-height: 0.65rem; }
            .content .detail .carList dl dd p span {
              color: #FC7E40; }
            .content .detail .carList dl dd p s {
              padding-left: 0.1rem; }
    .content .detail .load {
      text-align: center;
      line-height: 0.3rem; }

/*# sourceMappingURL=style.css.map */
